<br><br>
<h2 class="page-header">Scripts</h2>
<div class="col-md-6">

  <div class="scripts">
  </div>

  <script type="text/javascript" charset="utf-8">
  _.templateSettings.interpolate = /{{([\s\S]+?)}}/g;

  var scriptListItem = _.template(`<div class="script" id="{{id}}">
            <a href="/genres/{{genre.id}}/scripts/{{id}}.json">{{title}}</a>
            </div>`),
    listItem = function (comment) {
      return '<li>{{ comment.description }}</li>';
    },
    scriptShowItem = _.template(`<h1>{{title}}</h1><h2>{{logline}}</h2><h3>{{genre.name}}</h3>
      <ul>{{ return _.forEach(comments, listItem) }}</ul>`);


  // create another template to show script values

  $(function () {
    $.get("/scripts.json?genre_id=<%= params[:genre_id] %>", function(data) {
      var scripts = data["scripts"];
      $.each(scripts, function (index, script) {
        $('.scripts').append(scriptListItem(script));
      });

      $('.script a').on('click', function (event) {
        event.preventDefault();
        // grab the href attribute
        var href = $(event.target).attr('href');
        // ajax call with the href attribute // 16
        $.get(href, function(data) {
          var script = data["script"];
          debugger;
          // pass response into new show script template // 20

          // insert template into page somewhere // 20 $('...').html(....)
        });
      });

      $(".js-pre").on("click", function() {
        var nextId = parseInt($(".js-next").attr("data-id")) - 1;
      });

      $(".js-next").on("click", function(event) {
        event.preventDefault();
        var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      });
    });
  });
  </script>

</div>
