

<br><br>
<h2 class="page-header"> Scripts</h2>
<div class="col-md-6">

<% @scripts.alpha_sorted.each do |script| %></li>



<li><%= link_to script.title, genre_script_path(script.genre, script) %></li>
  <ul>
  <li><%= script.logline %></li>
  <li><%= script.user.email %></li>

 
  </ul>
<% end %>
</div>

