<br><br>
<h2 class="page-header">Scripts</h2>
<div class="col-md-6">

  <div class="scripts">
  </div>

  <script type="text/javascript" charset="utf-8">
  var scriptItem = _.template(`<div class="script" id="\${id}">
            <a href="/genres/\${genre.id}/scripts/\${id}.json">\${title}</a>
            </div>`);

  $(function () {
    $.get("/scripts.json?genre_id=<%= params[:genre_id] %>", function(data) {
      var scripts = data["scripts"];
      $.each(scripts, function (index, script) {
        $('.scripts').append(scriptItem(script));
      })
    })
    $(".js-pre").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) - 1;
    });
    $(".js-next").on("click", function(event) {
      event.preventDefault();
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    });
  });
  </script>

</div>
