<h4><%= @script.title %></h4>
<p><%= @script.logline %></p>
<p><%= @genre.name %></p>
<% if user_signed_in? %>
  <%= link_to "Destroy", script_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>